@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
/* font-family: 'Lato', sans-serif; */
* {
  margin: 0px auto;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #eaecee;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.clr {
  clear: both;
}

.wrapper {
  width: 992px;
  background-color: #fff;
  padding: 10px 15px;
}

.blogHorizontal {
  width: 970px;
  background-color: #fde;
  border: 1px solid #78b;
  padding: 5px 10px;
  margin: 5px;
}

.blogVertical {
  width: 270px;
  background-color: #fde;
  border: 1px solid #78b;
  padding: 5px 10px;
  margin: 5px;
  float: left;
}

.blogGallery {
  width: 110px;
  float: left;
  margin: 3px 5px;
}

.blogHeading {
  color: #f00;
}

.blogLink {
  text-decoration: none;
  color: #f00;
}
